<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Iodin</title>
	</head>
	<body>
{#        <h1>{{ hello }}</h1>#}
{#        <p>{{ name }}<p>#}
{#            {{ time|date:"Y-m-d" }}#}
{#        <p>{{ name|default:"Mr.Iodin" }}<p>#}
{#        <p>{{ my_list|first|upper }}</p>#}

{%if num > 90 and num <= 100 %}
优秀
{% elif num > 60 and num <= 90 %}
合格
{% else %}
不合格
{% endif %}


<!--     <p>{{ views_list }}</p>
        <p>{{ views_list.0 }}</p>

        <p>{{ views_dict }}</p>
        <p>{{ views_dict.name }}</p>
-->
	</body>
</html>
